*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 80vh;
    background-color: #f2f2f2;
    width: 100%;
    padding: 0px 40px;  
}

main{
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 0px 7px 34px -9px rgba(0, 0, 0, 0.041);
    background-color: #ffff;
}

.hero .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 70%; 
    gap: 20px;  
}

.left img{
    width: 80%;
    height: 95%;
    border-radius: 35px;
}

/* Define the keyframes for the zoomInDown animation */
@-webkit-keyframes zoomInDown {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
      transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
      transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
  }
  
  @keyframes zoomInDown {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
      transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
      transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
  }
  
 
  .image {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
  }
  

.selectIamge{
    padding: 12px 20px;
    border-radius: 15px;
    border: none;
    background-color: #D2C3F9;
    color: #ffff;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.5s;
}

.selectIamge input{
    width: 110px;
    height: 40px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.selectIamge:active{
    transform: scale(0.9);  
}

.selectIamge:hover{

    background-color: #a88ef9;
    
}

main .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 70%;
    gap: 20px;
}

.right .colorCard{
   
    width: 50%;
    height: 60%;
    background-color: #D7C4F9;
    border-radius: 30px;
    box-shadow: 0px 7px 34px -9px rgba(0, 0, 0, 0.162);
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    cursor: pointer;
   
}

.right p{
    color: #3f3f3f;
    font-size: 20px;
    font-family: "arial", sans-serif;
    cursor: pointer;
}



.copyedMessege{
  /* display: none; */
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #d2c3f9;
  position: fixed;
  top: 90px;
  left: 50;
  z-index: 20;
  border-radius: 24px;
  box-shadow: 0px 7px 34px -9px rgba(41, 40, 40, 0.639);
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
  -webkit-animation-duration: 0.6s;
}



@-webkit-keyframes zoomInUp {
 from {
   opacity: 0;
   -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
   transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
   -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
 }

 60% {
   opacity: 1;
   -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
   transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
   -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
 }
}

@keyframes zoomInUp {
 from {
   opacity: 0;
   -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
   transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
   -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
 }

 60% {
   opacity: 1;
   -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
   transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
   -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
 }
}