@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 10;
    /* background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px); */
  }
  
  nav{
   
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 11vh;
    background-color: #ffff;
    border-radius: 50px;
    width: 95%;
    padding: 0px 40px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    /* border: 1px solid rgba(255, 255, 255, 0.37);   */
  }

  .left h4{
    color: #3f3f3f;
    font-size: 25px;
    font-family: "Pacifico", cursive;
  }

  .right{
    width: 30%;
  }

  .right ul{
    
    color: #232323;
    width: 100%;
    display: flex;
    font-size: 17.3px;
    justify-content: space-around;
  }

  .right li{
    font-family: "Poppins", sans-serif;
    list-style: none;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: 500;
  }
  .right li:hover{
   color: #D7C4F9;

  }

.active{

    text-decoration: underline;
    text-decoration-color:#bd97ff;
    text-underline-offset: 6px;
      
}